In [1]:
import pandas as pd

In [2]:
import os
os.listdir('./funnel-analysis/')

['search_page_table.csv',
 'payment_page_table.csv',
 'home_page_table.csv',
 'user_table.csv',
 'payment_confirmation_table.csv']

In [3]:
search_page_table = pd.read_csv("./funnel-analysis/search_page_table.csv")
payment_page_table = pd.read_csv("./funnel-analysis/payment_page_table.csv")
home_page_table = pd.read_csv("./funnel-analysis/home_page_table.csv")
user_table = pd.read_csv("./funnel-analysis/user_table.csv")
payment_confirmation_table = pd.read_csv("./funnel-analysis/payment_confirmation_table.csv")

In [4]:
print(search_page_table['page'].value_counts()['search_page'], search_page_table['user_id'].nunique())

45200 45200

In [5]:
search_page_table.head(2)

   user_id         page
0    15866  search_page
1   347058  search_page

In [6]:
print(payment_page_table['page'].value_counts()['payment_page'], payment_page_table['user_id'].nunique())

6030 6030

In [7]:
payment_page_table.head(2)

   user_id          page
0   253019  payment_page
1   310478  payment_page

In [8]:
print(home_page_table['page'].value_counts()['home_page'], home_page_table['user_id'].nunique())

90400 90400

In [9]:
home_page_table.head(2)

   user_id       page
0   313593  home_page
1   468315  home_page

In [10]:
print(payment_confirmation_table['page'].value_counts()['payment_confirmation_page'], 
      payment_confirmation_table['user_id'].nunique())

452 452

In [11]:
print(set(search_page_table.user_id).issubset(set(home_page_table.user_id)))
print(set(payment_page_table.user_id).issubset(set(home_page_table.user_id)))
print(set(payment_confirmation_table.user_id).issubset(set(home_page_table.user_id)))
print(set(home_page_table.user_id).issubset(set(user_table.user_id)))

print(set(payment_page_table.user_id).issubset(set(search_page_table.user_id)))
print(set(payment_confirmation_table.user_id).issubset(set(payment_page_table.user_id)))

True
True
True
True
True
True

In [12]:
# home_page_table > search_page_table > payment_page_table > payment_confirmation_table

In [13]:
print(len(user_table.user_id), len(home_page_table.user_id), len(search_page_table.user_id), 
      len(payment_page_table.user_id), 
    len(payment_confirmation_table.user_id))

90400 90400 45200 6030 452

In [14]:
users_dict = {'user_table':len(user_table.user_id), 
              'home_page_table':len(home_page_table.user_id), 
              'search_page_table':len(search_page_table.user_id), 
              'payment_page_table':len(payment_page_table.user_id),
             'payment_confirmation_table':len(payment_confirmation_table.user_id)}

In [15]:
table_name = [k for k in users_dict.keys()]
value_count = [v for v in users_dict.values()]

In [16]:
value_count

[90400, 90400, 45200, 6030, 452]

In [17]:
for i in range(len(value_count)-1):
    for j in range(i+1, len(value_count)):
        print (value_count[j]/value_count[i])
        break

1.0
0.5
0.1334070796460177
0.07495854063018242

In [18]:
for i in range(1, len(value_count)):
    print (value_count[i]/value_count[0])

1.0
0.5
0.06670353982300885
0.005

In [26]:
merged_df = home_page_table.merge(search_page_table, how = 'left', on = 'user_id', 
                                  suffixes=('_home', '_search'))

In [27]:
merged_df = merged_df.merge(payment_page_table, how = 'left', on = 'user_id', 
                                  suffixes=('_1', '_payment'))

In [29]:
merged_df = merged_df.merge(payment_confirmation_table, how = 'left', on = 'user_id', 
                                  suffixes=('_1', '_payment_confirm'))

In [48]:
user_table.head(2)

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male

In [20]:
print (user_table.date.min(), user_table.date.max(), user_table.date.nunique())
print ('\n')
print (user_table['device'].value_counts())
print ('\n')
print (user_table['sex'].value_counts())
print ('\n')
print (user_table.groupby(['device', 'sex'])['user_id'].count().reset_index())

2015-01-01 2015-04-30 120


Desktop    60200
Mobile     30200
Name: device, dtype: int64


Male      45325
Female    45075
Name: sex, dtype: int64


    device     sex  user_id
0  Desktop  Female    29997
1  Desktop    Male    30203
2   Mobile  Female    15078
3   Mobile    Male    15122

In [23]:
desktop_users = user_table[user_table.device=='Desktop']
mobile_users = user_table[user_table.device=='Mobile']

In [24]:
desktop_user_ids = desktop_users.user_id.tolist()
mobile_user_ids = mobile_users.user_id.tolist()

In [25]:
print(len(user_table[user_table.user_id.isin(desktop_user_ids)]), 
      len(home_page_table[home_page_table.user_id.isin(desktop_user_ids)]), 
      len(search_page_table[search_page_table.user_id.isin(desktop_user_ids)]), 
      len(payment_page_table[payment_page_table.user_id.isin(desktop_user_ids)]), 
    len(payment_confirmation_table[payment_confirmation_table.user_id.isin(desktop_user_ids)]))

60200 60200 30100 3010 150

In [26]:
users_dict = {'desktop_user_table':60200, 
              'desktop_home_page_table':60200, 
              'desktop_search_page_table':30100, 
              'desktop_payment_page_table':3010,
             'desktop_payment_confirmation_table':150}

In [27]:
table_name = [k for k in users_dict.keys()]
value_count = [v for v in users_dict.values()]
for i in range(len(value_count)-1):
    for j in range(i+1, len(value_count)):
        print (value_count[j]/value_count[i])
        break

1.0
0.5
0.1
0.04983388704318937

In [28]:
for i in range(1, len(value_count)):
    print (value_count[i]/value_count[0])

1.0
0.5
0.05
0.0024916943521594683

In [29]:
print(len(user_table[user_table.user_id.isin(mobile_user_ids)]), 
      len(home_page_table[home_page_table.user_id.isin(mobile_user_ids)]), 
      len(search_page_table[search_page_table.user_id.isin(mobile_user_ids)]), 
      len(payment_page_table[payment_page_table.user_id.isin(mobile_user_ids)]), 
    len(payment_confirmation_table[payment_confirmation_table.user_id.isin(mobile_user_ids)]))

30200 30200 15100 3020 302

In [30]:
users_dict = {'mobile_user_table':30200, 
              'mobile_home_page_table':30200, 
              'mobile_search_page_table':15100, 
              'mobile_payment_page_table':3020,
             'mobile_payment_confirmation_table':302}

In [31]:
table_name = [k for k in users_dict.keys()]
value_count = [v for v in users_dict.values()]
for i in range(len(value_count)-1):
    for j in range(i+1, len(value_count)):
        print (value_count[j]/value_count[i])
        break

1.0
0.5
0.2
0.1

In [32]:
for i in range(1, len(value_count)):
    print (value_count[i]/value_count[0])

1.0
0.5
0.1
0.01

We can summarize the above results as follows:<br>
For any category of Users(i.e. All, Desktop and Mobile), we can answer two questions?<br>
<font color = 'blue'>1. What % of users are converting to next page from just previous page?</font><br>
<font color = 'blue'>2. What % of users are converting to next page from Home page?</font><br>

**For overall customers**<br>
<font color = 'blue'> 1. What % of users are converting to next page from just previous page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%) <br>
Search Page Users (100%) ---> Payment Page Users (13%) <br>
Payment Page Users (100%) ---> Payment Page Conf. Users (7%)


<font color = 'blue'> 2. What % of users are converting to next page from Home page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%)<br>
Home Page Users (100%) ---> Payment Page Users (6%)<br>
Home Page Users (100%) ---> Payment Page Conf. Users (.5%)

**For Desktop customers**<br>
<font color = 'blue'> 1. What % of users are converting to next page from just previous page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%)<br>
Search Page Users (100%) ---> Payment Page Users (10%)<br>
Payment Page Users (100%) ---> Payment Page Conf. Users (4%)



<font color = 'blue'> 2. What % of users are converting to next page from Home page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%)<br>
Home Page Users (100%) ---> Payment Page Users (5%)<br>
Home Page Users (100%) ---> Payment Page Conf. Users (.2%)

**For Mobile customers**<br>
<font color = 'blue'> 1. What % of users are converting to next page from just previous page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%) <br>
Search Page Users (100%) ---> Payment Page Users (20%)<br>
Payment Page Users (100%) ---> Payment Page Conf. Users (10%)


<font color = 'blue'> 2. What % of users are converting to next page from Home page?</font><br>
Home Page Users (100%) ---> Search Page Users (50%)<br>
Home Page Users (100%) ---> Payment Page Users (10%)<br>
Home Page Users (100%) ---> Payment Page Conf. Users (1%)

How to improve conversion rate?<br>
<font color = 'blue'>Case 1: Users are not converting from Home to Search Page?</font><br>
Possible Reasons for this ::
1. Users might have accessed the site acciedentally because of popups, ads and/or recommendations or some other reasons.
2. Users open website but not like the user interface or website content

Possible ideas to convert such users to next page:
1. User interface should be very tempting, user friendly and iteractive. So that if a user comes accidentally, we are able to make him visit our site.
2. For random user bumping our website, we have scenario where user is not interested in buying the product currently but making him buy is by recommending things which are in trend and widely famous.
3. Users should be shown dangling carrot, hence at first product should have coupon, offers or mammoth discount. 

<font color = 'blue'>Case 2: Users are not converting from Search to Payment Page?</font><br>
Possible Reasons for this ::
1. Products may be costly.
2. Products may not be available.
3. Good Products at users' cost are not available.
4. Product many not contain more options to choose.
5. Products are not eligible for cash on delivery.
6. Ratings of products are not promising.

Possible ideas to convert such users to next page:
1. Website should have wide range of products over price, brand and quality.
2. We should create such a model so that users think that they are getting better products in less cost i.e. cheap and best.
3. Prices of products in our website should be in close to the prices of same products in other competitive websites.
If we have more prices, we should justify the reasons for that. For ex. we are providing faster delivery etc.
4. We may have monopoly for some products which have good market value.


<font color = 'blue'>Case 3: Users are not converting from Payment Page to Payment Confirmation Page</font><br>
Possible Reasons for this ::
1. User adds the item in the cart and when proceeds for payment, some extra charges are applied like tax, vat & shipping charges which are not bearable.
2. Payment Gateway Failure
3. Limited Payment Optins
4. Very late delivery time
5. Delivery is not available for that location.

Possible ideas to convert such users to next page:
1. We should keep our extra charges as much less as possible.
2. We should choose a good third party payment gateway.
3. Multiple payment options along with multiple bank's credit/debit cards.
4. Delivery time should be very fast.
5. Delivery should be available for most locations.

Summary :<br>
As we can see from above, there are about 50% users in all 3 cases which are skipping out just after home page. If we are able to convert those users to our next page we will have a good proportion of users to be converted to Payment Confirmatio Page. So we should focus more on the first conversion i.e. from Home Page to Search Page.

There are few more points, i got on web to make a good conversion.

1. Run a heatmap on your landing page. See where people click and don’t click. Sometimes, people click on an element that doesn’t have a link. This can be an easy fix.

2. Get a scrollmap and see where people drop off the landing page. Wherever people drop off, shorten your page to that length and put your best CTA(call to action) at that spot. You should get a lot more conversions right away.

3. Review user recordings. Nothing beats watching real user behavior. What draws people into your funnel? Where do they try to go? Lean into user’s natural inclinations as much as you can. and many more.